body {
	font-family: calibri,serif;
}


h1 {
	color: #000000;
}

header{

	text-align: center;

	flex: 0 1 auto;
	float: initial;
}

nav {
	background: rgb(87, 28, 184);

}

nav ul{

	display: flex;
	justify-content: space-around;
	/* text-align: center; Text align elige la distribución de los contenedores*/ 
	box-sizing:border-box;
	border:2px solid violet;
	
	
}


nav ul li {

	
	display: inline; /* El elemnto no genera saltos de linea*/ 

}

nav ul li a {

	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #ffffff;
	padding:0.8vw;
	float: left;
	
}

nav ul li a:hover { /*Cuando se pasa el mouse por el elemento*/ 
	color:#000203;
	margin-top: -0.25vw;
	padding-bottom: 0.7vw;
	background: linear-gradient(108deg,#042541,#59aa7b);
}

article li{

	color:#000000;
}

article li strong{

	
	color:#000000;

}

aside {

	width:30%;
	float:left;
	clear:both;
	background:#ffffff;
	border:2px solid black;
	box-sizing:border-box;
	

}

#formacion {

	width:50%;
	float:left;

}

#experiencia {

	width:50%;
	
	border-width: 0.25vw;

	float:left;

}

section {

	float:right;
	width:70%;
	background:#ffffff;
	border:2px solid black;
	box-sizing:border-box;
}

footer{
	background: rgb(87, 28, 184);
	box-sizing:border-box;
	border:2px solid violet;
float:center;
}

footer p {

	font-weight:bold;
	text-align: center;
	padding: 0.75vw;
	border: #8eff6b;
	float: center;
 	clear: both;
}

@media (min-width: 601px) and (max-width:1000px){

	body {
		font-family: Arial, Helvetica, sans-serif;
	}

	aside{
		width:40%;
		float: left;
		clear:both;
	}
	
	section{
		width:60%;
		float: left;
	}

	#formacion, #experiencia {
		width: 100%;
	}
}